html
    head
        title= title
    body
        h1 utilisateurs enregistrer:

    ul
        li= user.firstname
        li= user.lastname
        li= user.username

        form(method="POST", action=`/users/${user.id}?_method=DELETE`)
            input(type="submit", value="Delete")
        br
        br

    a(href="/users") Retour    
        
        
        